/* --- AMENDMENTS FOR COMMERCIAL LOOK --- */
.navbar-premium {
    border-bottom: 2px solid #efefef; /* Mengubah garis hitam kaku menjadi border soft premium shadow */
    padding: 12px 0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.navbar-brand-premium {
    font-size: 22px;
    letter-spacing: 2px;
}

.nav-link-premium {
    border-radius: 4px;
    font-weight: 600 !important;
}

.nav-link-premium:hover, .nav-link-premium.active {
    background-color: #000000 !important;
    color: #ffffff !important;
}

.custom-select-premium {
    height: calc(2.25rem + 10px) !important;
    font-weight: 500;
}

.highlight-popover:hover {
    color: #1e7e34 !important;
    text-decoration: underline;
}

/* Memperbaiki transisi pergantian halaman Single Page Application */
.page-section {
    display: none;
}
.page-section.active-page {
    display: block;
    animation: slideFadeEffect 0.5s ease forwards;
}

/* Modifikasi Bayangan Box-Shadow Streetwear */
.shadow-section {
    border: 1px solid #e1e1e1;
}
